{% extends "resume/base_resume.html" %}

		{% block content %}
		<!-- Blog -->
		<div id="blog" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- main blog -->
					<div id="main" class="col-md-9">

						<!-- blog comments -->
						<div class="blog-comments">

							<!-- blog reply form -->
							<div class="main-info-form">
								<h3>Личная информация и контакты</h3>
								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="element-input">
										<span class="text-element">{{ photo_form.photo.label_tag }}</span>
										<label class="input input-file">
											<span for="id_photo" class="input-file-text" type="text"></span>
											<input id="id_photo" type="file" name="file">
											<span class="input-file-btn">Выберите файл</span>
										</label>
									</div>
									{% for field in main_info_form %}
									<div class="element-input">
										<label class="text-element">{{ field.label_tag }}</label>
										<div class="input info-input">{{ field }}</div>
										<div class="input info-input">
										{% if field.errors %}
											{% for error in field.errors %}
												{% if error != 'This field is required.' and error != 'Обязательное поле.' %}
													<span>{{ error }}</span>
												{% endif %}
											{% endfor %}
										{% endif %}
										</div>
									</div>
									{% endfor %}
									<button class="main-button icon-button" type="submit">Сохранить</button>
								</form>
							</div>
							<!-- /blog reply form -->

						</div>
						<!-- /blog comments -->
					</div>
					<!-- /main blog -->
					<div class="col-md-3">

						<!-- category widget -->
						<div class="category-widget">
							<h3>Дополнительно</h3>
							<a class="category" href="#">Желаемая должность</a>
							<a class="category" href="#">Опыт работы</a>
							<a class="category" href="#">Образование</a>
							<a class="category" href="#">Повышение квалификации</a>
							<a class="category" href="#">О себе</a>
						</div>
						<!-- /category widget -->
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->

		</div>
		<!-- /Blog -->
		{% endblock %}
<!---->
